<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap"
  rel="stylesheet"/>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    font-weight: 600;
  }
  html {
    font-family: "Rubik", sans-serif;
    color: #444;
  }
  .main-container {
      display: flex;
      justify-content: space-between;
      text-align: center;
      background: #f8f9fa;
    }

    .content-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 800px;
      animation-duration: 1s;
      animation-name: slidein;
      overflow: hidden;
    }

    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 900px;
      }

      to {
        margin-right: 0%;
        width: 900px;
      }
    }

    .img-container {
      height: 100vh;
      background-image: url("../assets/meal-8.jpg");
      background-size: cover;

      width: 100%;
      overflow: hidden;
    }

    .login-section {
      width: 400px;
      position: absolute;
      top: 22%;
      transform: translateX(60px);
    }

    .heading {
      margin-bottom: 40px;
      text-align: center;
    }

    .button {
      margin-top: 20px;
      width: 100%;
      font-weight: 600;
      background-color: #e67e22;
      color: #fff;
      text-decoration: none;
      padding: 15px;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .form {
      padding: 13px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 1rem;
    }

    .OR {
      margin-bottom: 20px;
    }

    .register:link,
    .register:visited {
      text-decoration: none;
      color: #e67e22;
      font-size: 20px;
    }

    .register:active,
    .register:hover {
      color: #e67e22;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 1px;
    }
</style>


<body>
    <div class="main-container">
      <div class="img-container"></div>
      <div class="content-container">
        <div class="login-section">
          <h1 class="heading">Change your password</h1>
          <%= form_with(url: change_password_path, local: true) do |form| %>
            <div>
              <%= form.text_field :old_password, type: "password", class: "form", size: "30", placeholder: "Old password", style: "margin-bottom: 15px" %>
            </div>
            <div>
              <%= form.text_field :new_password, type: "password",class: "form", size: "30", placeholder: "New password", style: "margin-bottom: 15px" %>
            </div>
            <div>
              <%= form.text_field :new_password_confirmation, type: "password", class: "form", size: "30", placeholder: "Confirm your password", style: "margin-bottom: 15px" %>
            </div>
            <div>
              <%= button_to "Save", change_password_path, method: :post, class: "button", style: "margin-bottom: 50px" %>
            </div>
          <% end %>

            <a href="/products" class="register"> Back to products page &rarr; </a>
          </form>
        </div>
      </div>
    </div>
  </body>
