<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "products", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "show_product", "data-turbo-track": "reload" %>

<style>
/*
    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    */
/*
    GREY COLOR: #343a40
    */

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    main {

    }
    table {
      width: 1200px;
      margin-top: 20px;
      font-size: 18px;
      /* border: 1px solid #343a40; */
      border-collapse: collapse;
      border-radius: 9px;
      overflow: hidden;
      margin-bottom: 50px;
    }

    th,
    td {
      /* border: 1px solid #343a40; */
      padding: 36px 40px;
      text-align: left;
    }

    thead tr {
      background-color: #343a40;
      color: #fff;
    }

    thead th {
      width: 25%;
    }

    tbody tr:nth-child(odd) {
      background-color: #f8f9fa;
    }

    tbody tr:nth-child(even) {
      background-color: #e9ecef;
    }

    .checkout--info--container {
      width: 300px;
      padding: 20px;
      height: 270px;
      background: rgb(256, 256, 256, 0.8);
      margin-top: 90px;
      box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 8%);
    }
    .cart--info--backlink:link,
    .cart--info--backlink:visited {
      display: inline-block;
      padding-top: 30px;
      color: #555;
      text-decoration: none;
      font-size: 2.5rem;
      margin-left: 130px;
    }

    .cart--info--backlink:hover,
    .cart--info--backlink:active {
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 2px;
    }

    body {

  position: relative;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 700;
  color: #555;
}

#main-nav-link-in-order-history {
    font-weight: 700;
    cursor: pointer;
}

.edit-status-link:link, .edit-status-link:visited {
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
        display: flex;
         align-items: center;
         justify-content: center;
        background-color: #37b24d;
        width: 9rem;
        padding-top: 9px;
        padding-bottom: 9px;
        border-radius: 5px;
    }
    
    .show-detail-link:link, .show-detail-link:visited {
         font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
        display: flex;
         align-items: center;
         justify-content: center;
        background-color: #f59f00;
        width: 9rem;
        padding-top: 9px;
        padding-bottom: 9px;
        border-radius: 5px;
    }

</style>

<%= render 'layouts/header' %>

<body>

  <main>
    <div>
      
      <div style="display: flex; justify-content: center">
        <table>
          <thead>
            <tr>

              <th>Date ordered</th>
              
              <th>Ship to address:</th>
              <th>User phone number </th>
              <th>Details</th>
              <th>Status</th>
              <th>Edit status</th>
            </tr>
          </thead>

          <tbody>
        <% if @user_receipts != nil %>
          
              <% @user_receipts.each do |user_receipt| %>
                  <tr>
    
                    <th><%= user_receipt.created_at %></th>
                    
                    <td><%= user_receipt.address %></td>
                    <td><%= user_receipt.phone %></td>
                    <td >
                      
                        <%= link_to "Details", rails_blob_path(user_receipt.file, disposition: "inline"), class: "show-detail-link" %>
                     
                    </td>
                    <% if user_receipt.status == 0 %>
                        <td style="color: #7048e8">
                            Processing
                        </td>
                    <% elsif user_receipt.status == 1 %>
                        <td style="color: #f08c00">
                            Delivering
                        </td>
                    <% elsif user_receipt.status == 2 %>
                        <td style="color: #37b24d">
                            Success
                        </td>
                    <% elsif user_receipt.status == 3 %>
                        <td style="color: red">
                            Rejected
                        </td>
                    <% end %>
                    <td><%= link_to "Edit Status", edit_user_receipt_path(user_receipt), class: "edit-status-link" %></td>
                  </tr>
                <% end %>
           
            
            
        <% end %>
          </tbody>
        </table>
      </div>
    </div>

    </div>
    </main>

</body>





