<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<style>

    .dashboard-content-container {
        width: 1200px;
        margin: 0 auto;
    }
    .product-name-field {
        font-size: 24px;
        margin-bottom: 16px;
    }
    
    table {
      width: 1200px;
      margin-top: 20px;
      font-size: 18px;
      /* border: 1px solid #343a40; */
      border-collapse: collapse;
      border-radius: 9px;
      overflow: hidden;
      margin-bottom: 50px;
    }

    th,
    td {
      /* border: 1px solid #343a40; */
      padding: 36px 40px;
      text-align: left;
    }

    thead tr {
      background-color: #343a40;
      color: #fff;
    }

    thead th {
      width: 25%;
    }

    tbody tr:nth-child(odd) {
      background-color: #f8f9fa;
    }

    tbody tr:nth-child(even) {
      background-color: #e9ecef;
    }
    
    .add-new-category-link:link,
    .add-new-category-link:visited {
       
      text-decoration: none;
      color: #e67e22;
      font-size: 20px;
    }

    .add-new-category-link:active,
    .add-new-category-link:hover {
        
      color: #e67e22;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 1px;
    }
    
    .add-padding {
        padding-bottom: 20px;
    }
</style>
<body class="add-padding">
<%= render 'layouts/header' %>



<div class="dashboard-content-container" >
        <table >
          <thead>
            <tr>

              
              <th>Category ID</th>
              <th>Category name</th>
              <th>Edit</th>
            </tr>
          </thead>

          <tbody>

          <% @categories.each do |category| %>
              <tr>

                <td><%= category.id %> </td>
                <td><%= category.name %></td>
                <td >
                  <%= link_to "Edit this category", edit_category_path(category) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <a href="categories/new" class="add-new-category-link">Add New Category</a>
      </div>




</body>
