<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<style>

    .dashboard-content-container {
        width: 1200px;
        margin: 0 auto;
    }
    .product-name-field {
        font-size: 24px;
        margin-bottom: 16px;
    }
    
    table {
      width: 1200px;
      margin-top: 20px;
      font-size: 18px;
      /* border: 1px solid #343a40; */
      border-collapse: collapse;
      border-radius: 9px;
      overflow: hidden;
      margin-bottom: 50px;
    }

    th,
    td {
      /* border: 1px solid #343a40; */
      padding: 36px 40px;
      text-align: left;
    }

    thead tr {
      background-color: #343a40;
      color: #fff;
    }

    thead th {
      width: 25%;
    }

    tbody tr:nth-child(odd) {
      background-color: #f8f9fa;
    }

    tbody tr:nth-child(even) {
      background-color: #e9ecef;
    }
    
    .add-new-product-link:link,
    .add-new-product-link:visited {
       
      text-decoration: none;
      color: #e67e22;
      font-size: 20px;
    }

    .add-new-product-link:active,
    .add-new-product-link:hover {
        
      color: #e67e22;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 1px;
    }
    
    .add-padding {
        padding-bottom: 20px;
    }
</style>
<body class="add-padding">
<%= render 'layouts/header' %>
<p style="color: green"><%= notice %></p>


<div class="dashboard-content-container" >
        <table >
          <thead>
            <tr>

              <th>Image</th>
              <th>Product name</th>
              <th>Price</th>
              <th>Edit</th>
            </tr>
          </thead>

          <tbody>

          <% @products.each do |product| %>
              <tr>

                <th><%= image_tag product.image, style: "width: 100px; height: 70px" %></th>
                <td><%= product.name %> </td>
                <td><%= product.price %>VND</td>
                <td >
                  <%= link_to "Edit this product", edit_product_path(product) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <a href="products/new" class="add-new-product-link">Add New Product</a>
      </div>




</body>
