<div id="<%= dom_id receipt %>">
  <p>
    <strong>Status:</strong>
    <%= receipt.status %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= receipt.payment %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= receipt.total %>
  </p>

  <p>
    <strong>User:</strong>
    <%= receipt.user_id %>
  </p>

</div>
